    <h1>{{title}}</h1>
    <div>
        <ul>
            <li>Nombre: {{product.title}}</li>
            <li>Precio: ${{product.price}}</li>
            <li>ID: {{product.id}}</li>
            <li>Código: {{product.code}}</li>
            <li>Stock: {{product.stock}}</li>
            <li>Categoría: {{product.category}}</li>
        </ul>
    </div>